.idea
.idea/*
.vscode
cmake-build-*
*.so
*.a
*.swp
*.sqlite3
*build

# Outputs
*.txt
*.csv

# Cloned repository
benchmark/
kvm/
qemu/
third_party/boost_1_71_0/
third_party/deps/
third_party/boost_1_71_0.tar.gz
