[submodule "llvm"]
	path = llvm
	url = https://github.com/utcs-scea/ava-llvm.git
	branch = llvmorg-7.1.0
  ignore = dirty
[submodule "third_party/plog"]
	path = third_party/plog
	url = https://github.com/SergiusTheBest/plog.git
  branch = 1.1.5
  ignore = dirty
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
  branch = 7.1.3
  ignore = dirty
