# Has an upstream copy but do not commit
/CMakeLists.txt

.idea
.idea/*
*.pyc
*.swp

lib.h
lib.c
driver.c
worker.c
*.guesses
*.log

cl_nw/
cu_nw/
cpa_nw/
tf_nw/
vk_nw/
fpga_nw/
trivial_nw/
mvnc_nw/
gti_nw/
cudart_nw/
onnx_dump_nw/
onnx_opt_nw/
tf_dump_nw
tf_opt_nw