name: CUDA CI

on:
  push:
    branches:
    - master
    - r*.*
    tags:
      - r*.*
  pull_request:

jobs:
  build_and_test:
    runs-on: ${{matrix.os}}
    continue-on-error: ${{matrix.os == 'macOS-latest'}}
    strategy:
      matrix:
        os:
        - ubuntu-18.04
        build_type:
        - Release
        cuda:
        - "10.1"
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
        # We need history so that we have tags to provide version information.
        fetch-depth: 0
        # 0 fetches all history. See https://github.com/actions/checkout#checkout-v2

    ###
    # Caching between builds
    ###
    - name: Cache ava-llvm library
      uses: actions/cache@v2
      with:
        key: ${{matrix.os}}-ava-llvm-${{hashFiles('generate.py')}}
        path: llvm/build

    - name: Cache cuDNN tarball
      uses: actions/cache@v2
      with:
        key: ${{matrix.os}}-cudnn-${{hashFiles('.github/workflows/install_cuda10.1_cudnn7.6.sh')}}
        path: ~/cuda_packages

    ###
    # Install platform-level dependencies (OS-specific)
    ###
    - name: Install AvA dependencies
      if: startsWith(matrix.os, 'ubuntu-')
      run: |
        tools/install_dependencies.sh

    - name: Install CUDA
      if: startsWith(matrix.os, 'ubuntu-')
      env:
        cuda: ${{ matrix.cuda }}
      run: |
        .github/workflows/install_cuda_ubuntu.sh

    - name: Install CUDA driver and cuDNN
      if: startsWith(matrix.os, 'ubuntu-') && startsWith(matrix.cuda, '10.1')
      run: |
        .github/workflows/install_cuda10.1_cudnn7.6.sh

    ###
    # Download ava-llvm and generate codes
    ###
    - name: Download ava-llvm and generate codes
      if: startsWith(matrix.os, 'ubuntu-')
      run: |
        python3 generate.py -s cudadrv cudart

    ###
    # Standard CMake build process
    ###
    - name: Configure
      run: |
        cmake -S . -B $HOME/build \
          -DCMAKE_BUILD_TYPE=${{matrix.build_type}} \
          -DAVA_GEN_CUDADRV_SPEC=ON \
          -DAVA_GEN_CUDART_SPEC=ON

    - name: Build
      run: |
        cmake --build $HOME/build --parallel 2